# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# Streamlit temporary files
.streamlit/

# Hugging Face cache files
cache/
*.pt

# Log files
*.log
app.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Matplotlib and visualization cache
*.svg
*.png

# System-specific files
.DS_Store
Thumbs.db
