# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit temporary and cache files
.streamlit/
./streamlit/

# Hugging Face cache files
~/.cache/huggingface/
*.pt

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Matplotlib and visualization cache
*.svg
*.png

# System-specific files
.DS_Store
Thumbs.db
._*
desktop.ini
